@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.login {
    height: 65%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.login>div:first-child {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid lightgray;
}
.logo{
    margin-top: 35px;
    scale: 0.85;
}
input[type=text], input[type=password] {
    width: 80%;
    height: 8%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 5px;
    font-size: 16px;
}
input[type=text] {
    margin-top: 35px;
}
.login div input[type=password] {
    margin-top: 5px;
}
input[type=submit] {
    margin-top: 15px;
    width: 80%;
    height: 8%;
    background-color: #67b4f8;
    border: 1px solid lightgray;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}
.login>div:first-child>p {
    text-transform: uppercase;
    margin-top: 20px;
    color: dimgrey;
    font-weight: bold;
}
.fb-login-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    font-size: 18px;
    font-weight: bold;
}
.login>div>a, .login>div>div>a {
    color: #1c438c;
}
.login>div>a:last-of-type {
    padding-top: 25px;
    font-size: 16px;
}
.registration {
    height: 20%;
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.registration a {
    color: #299cf5;
    font-weight: bold;
}