@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
}
header {
    width: 100%;
    height: 20vh;
    color: rgba(0, 0, 0, 1);
    background: rgba(141, 132, 132, 1);
}

header, footer, section, aside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
}
main {
    display: flex;
    height: 60vh;
}
main div section {
    width: 100%;
    height: 33vh;
    color: rgba(255, 255, 255, 1);
}
.main__content-section {
    display: flex;
    flex-direction: column;
    width: 73vw;
    height: 100%;
}
.main__content-section-top {
    background: rgba(119, 105, 105, 1);
}
.main__content-section-middle {

    background: rgba(100, 48, 48, 1);
}
.main__content-section-bottom {
    background: rgba(68, 24, 24, 1);
}
.main__spam-aside {
    display: flex;
    flex-direction: column;
    width: 27vw;
    height: 100%;
}
main div aside {
    width: 100%;
    height: 50%;
    color: rgba(255, 255, 255, 1);
}
.main__spam-aside-top {
    background: rgba(147, 117, 117, 1);
}
.main__spam-aside-bottom {
    background: rgba(100, 76, 76, 1);
}

footer {
    width: 100%;
    height: 20vh;
    color: rgba(0, 0, 0, 1);
    background: rgba(189, 189, 189, 1);
}