.container{
    width: 200px;
    height: 250px;
    border: 2px solid black;
    overflow: scroll;
}
.header {
    width: 100%;
    height: 15%;
    background-color: cornflowerblue;
    position: sticky;
    top: 0;
    z-index: -1;
}