*
{
    margin: 0;
}
body {
    height: 100vh;
    background: #4e6e50;
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 30px;
}
.card {
    height: 210px;
    width: 250px;
    background-color: rgb(208, 225, 199);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 15px 0;
    border-radius: 5px;
    transition: 0.5s;
}
.card:hover {
    transform: scale(1.1);
    transition: 1s;
}

p {
    line-height: 2;
}
h3 {
    margin-bottom: 15px;
}