body {
    margin: 2%;
}
header {
    height: 60vh;
    background-color: cornflowerblue;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
}

section {
   height: 50vh;
    width: 32%;
    background-color: #2d68d3;
}

footer {
    height: 90vh;
    background-color: cornflowerblue;
}

header, section, footer {
    color: white;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

}