@media screen and (max-width: 480px) {
    .items {
        width: 343px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .item {
        width: 343px;
    }
}