@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.items {
    width: 1180px;
    font-family: "Inter", sans-serif;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    width: 271px;
}
.item h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #161543;
    margin-top: 10px;
}
.item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7687a1;
    margin-top: 10px;
}