* {
    margin: 0;
}
.flex {
    height: 500px;
    background: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.circle {
    width: 100px;
    height: 100px;
    background: red;
    transition: 1s;

}
.circle:hover {
    border-radius: 50%;
    background-color: gray;
    transition: 2s;
}