* {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    gap: 30px;
    font-family: Arial, sans-serif;
}

section p {
    width: 80%;
}

.top-section{
    background: #e1a1c5;
}

.bottom-section {
    background: #000000;
    color: white;
}

h2 {
    font-weight: normal;
}