*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.grid-wrapper {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, 23vh 55vh 23vh);
    grid-template-areas:
    "header"
    "section"
    "footer";
}
header {
    grid-area: header;
    background-color: #D9D9D9;
}
section {
    grid-area: section;
    background-color: #A4A4A4;
}
footer {
    grid-area: footer;
    background-color:#D9D9D9;
}