* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 26vw 48vw 26vw;
    grid-template-rows: 22vh 56vh 22vh;
    grid-template-areas:
    "header header header"
    "aside-left section aside-right"
    "footer footer footer";
}
header {
    grid-area: header;
    background-color: #D9D9D9;
}
.left {
    grid-area: aside-left;
    background-color: #C0BDBD;
}
section {
    grid-area: section;
    background-color: #A4A4A4;
}
.right {
    grid-area: aside-right;
    background-color: #C0BDBD;
}
footer {
    grid-area: footer;
    background-color: #D9D9D9;
}