label {
    display: block;
    margin-top: 10px;
}
form sup {
    color: crimson;
}
textarea {
    resize: none;
    width: 70%;
}
.form-registration {
    border: 3px solid #2f4f39;
    width: 30%;
    border-radius: 20px;
    padding: 50px;
}
/*----------Input fields styles--------------------*/
input[type='text'] {
    background-color: #a2d8a2;
    border: 3px solid #2f4f39;
    border-radius: 2px;
    color: #1c0c2e;
    font-family: sans-serif;
}
input[type='text']::placeholder {
    color: #8c42df;
    font-style: italic;
}
input[type='text']:focus {
    outline: 2px solid #35f15a;
}

.subscribe {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(75, 76, 78, 0.23);
    margin-bottom: 0;
    border-radius: 2px;
}
.subscribe:checked {
    background-color: #a68ced;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABQElEQVR4nO2VQUoDMRRAXysI1qK4dOMRPIDaTesFROgBpLiW7gQ3Ch5D8AiuXRUFRUTXbS1YSruuG3e1IwM/MIRk0thMizAPPuQnmf8mmckM5Nh5AZ5ZApHEQtkX6TArQQm4AnrAJLFKFddZSNeAJ4NMrTSWrhqu6wAXKXXjsXaa+FIkn0DNIjGhbu4GaAFfEi3pc74bPZlQnVGoi11hRT3Tsta/ATSBV2AMfANvwLmMzS3uyoR4mxW7iZ0wRT/R3gMOUnIrjUSxQ2AbGHisKJZULPnEroUicOch8ok2DlaAM+AdmAYUn+LBTyDpLVDwEc8rvAfqPsJQ4j8TaZ/MIznj69LuZC0eydHS2dLkM59bF6rAieQ1w2/x2CAKJt6R/MNQcDNLcUFyda5t84KLXQVzcfRvxY/AQ0ruOy+HpfALxR0SqXKfayAAAAAASUVORK5CYII=');
    background-size: cover;

}
