* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1.2fr 1.3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "header header header"
    "aside-left section-top aside-right"
    "aside-left section-bottom aside-right"
    "footer footer footer";
}
header {
    grid-area: header;
    background-color: #D9D9D9;
}
.left {
    grid-area: aside-left;
    background-color: #C0BDBD;
}
.top {
    grid-area: section-top;
    background-color: #827878;
}
.bottom {
    grid-area: section-bottom;
    background-color: #B7ADAD;
}
.right {
    grid-area: aside-right;
    background-color: #C0BDBD;
}
footer {
    grid-area: footer;
    background-color: #D9D9D9;
}