body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}
.card{
    width: 200px;
    height: 250px;
    background-color: rgb(141, 142, 143);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.sale {
    width: 70px;
    height: 45px;
    background-color: #8d8e8f;
    position: absolute;
    top: -20px;
    border-radius: 20px 20px 0 0;
}
.sale-bottom {
    width: 70px;
    height: 45px;
    background-color: #8d8e8f;
    position: absolute;
    bottom: -20px;
    border-radius: 0 0 20px 20px;
}