
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: rgba(30, 30, 30, 1);
}
.w-1340 {
    width: 1340px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}
ul a {
    color: rgba(233, 227, 220, 1);
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.9%;
    text-transform: uppercase;
}

.nav__active-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 60px;
    background: rgba(179, 160, 205, 1);
    color: rgba(30, 30, 30, 1);
}
/*----------------------------------------------------*/
.header-title {
    width: 1255px;
    color: rgba(233, 227, 220, 1);
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 107px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #e9e3dc;
    margin: 72px auto 33px auto;
}
.header-img {
    display: block;
    margin: 0 auto;
}
/*-------------------------------------------------------------*/
.section__about-burger {
    width: 1340px;
    height: 369px;
    border: 4px solid rgba(30, 30, 30, 1);
    border-radius: 30px;
    background: rgba(209, 239, 83, 1);
    margin: 32px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.section__about-burger .subtitle {
    width: 533px;
    height: 186px;
    color: rgba(30, 30, 30, 1);
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 89%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.section__about-burger p {
    width: 521px;
    height: 75px;
    color: rgba(30, 30, 30, 1);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 139.9%;
    letter-spacing: -0.02em;
    text-align: left;
}

.section__about-burger button {
    margin-top: 34px;
    width: 176px;
    height: 60px;
    border: 4px solid rgba(30, 30, 30, 1);
    box-shadow: 8px 8px 0 0 #000;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    text-align: center;
    color: #1e1e1e;
}
/*-------------------------------------------------------------------*/
.images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 64px;
}
.bottom-img {
    margin: 64px auto;
}
.bottom-subtitle {
    width: 895px;
    height: 142px;
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 102%;
    text-transform: uppercase;
    text-align: center;
    color: #e9e3dc;
}
.button-get-started {
    width: 196px;
    height: 60px;
    background-color: rgba(209, 239, 83, 1);
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    text-align: center;
    color: #1e1e1e;
    border: none;
    margin: 33px auto 36px auto;
}