body {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
p{
    color: coral;
    /*font-size: 32px;*/
    width: 30%;
    height: 50px;
    background-color: aquamarine;
    display: inline-block;
}
h2, h3 {
    color: blue;
}
sub, sup {
    font-size: 16px;
    color: blueviolet;
}
span {
    /*font-size: 40px;*/
    color: blue;
    display: inline-block;
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}