*{
    margin:0;
    padding:0;
}
body {
    font-size: 20px;
}
header, footer{
    width: 100%;
    height: 20vh;
    background-color: rgba(225, 225, 225, 0.68);
}
.wrapper {
    width: 100%;
    display: flex;
}
main {
    height: 60vh;
    width: 70%;
    background-color: #b38888;
}
aside {
    height: 60vh;
    width: 30%;
    background-color: #829889;
}
section {
    display: none;
}
header p::after {
    content: "Desktop";
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
main, aside, footer {
    font-size: 1.3em;
}
