@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/*-----------------------header-------------------------*/
.active-link {
    color: #0d3326;
}

header {
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Orbitron", sans-serif;
}
header div {
    text-align: center;
}

header div h3 {
    font-size: 16px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav a {
    color: grey;
    font-size: 20px;
}
/*-------------------------------main__home-------------------------*/
.main__home {
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    padding-top: 50px;
}

.main__home p {
    font-size: 20px;
}

.main__home h1 {
    font-size: 100px;
    letter-spacing: 30px;
}

.main__home button {
    font-family: "Orbitron", sans-serif;
    width: 160px;
    height: 40px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 25px;
    transition: 1s;
}

.main__home button:hover {
    transform: scale(1.1);
    transition: 2s;
    color: #426642;
}

/*------------------------main__contact___________________*/
.main__contact {
    font-family: "Orbitron", sans-serif;
    /*height: 90vh;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
}

.main__first {
    height: 40vh;
    background-image: url(https://images.unsplash.com/photo-1490730141103-6cac27aaab94?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__first h1 {
    color: white;
    font-size: 100px;
}

.main__first p {
    color: #1c0c2e;
    font-size: 25px;
    padding-top: 30px;
}

.container__contacts {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    line-height: 2;
    padding-top: 100px;
}


.main__contact h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}